body {
  display: flex;
  margin: 0;
  background-color: black;
  font-family: arial;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h1 {
  color: grey;
  font-family: verdana;
}

.maindiv {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}

#calculator-form {
  width: 75%;
  margin: auto;
}

#calculator-form button {
  margin: 5px 0;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 9999px;
  transition: .3s;
}

#calculator-form button:hover {
  cursor: pointer;
  background-color: white;
  color: green;
  transition: .3s;
}
